@use "mixins.scss" as *;
@use "utils.scss" as *;
@use "variables.scss" as *;

@media (max-width: $member-list-collapse) {
  #{$channelmembers-container-class} {
    @include sidebar(true);
    right: 0;
    transform: translateX(100%);

    @include tab($member-icon, "right", 8px);
    @include hover("right");

    &:hover {
      transform: unset;
    }
  }
}

@media (max-width: $channel-list-collapse) {
  #{$appview-sidebar-class} {
    @include sidebar();
    transform: translateX(-100%);

    @include tab($channel-icon, "left", 0px);
    @include hover("left");

    &:hover {
      transform: unset;
    }
  }

  // ! HACK: Fix after Desktop Visual Refresh
  // The whole AppView is now a grid, and setting 'position: absolute;' on the sidebar
  // causes it to break, so we need to unset the grid-area of it
  #{$appview-base-class} {
    grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "page page page" !important;
  }
  #{$appview-content-class} {
    grid-area: page !important;
  }
  #{$guilds-wrapper-class},
  #{$appview-sidebar-list-class} {
    grid-area: unset !important;
  }
}
