@use "utils.scss" as *;
@use "variables.scss" as *;

@mixin sidebar($absolute: false) {
  @if $absolute {
    position: absolute;
  }
  z-index: 1000;
  overflow: visible !important;
  transition: transform 0.3s ease-in-out;
}

@mixin tab($icon, $side, $top: 0px) {
  &:before {
    @include background-icon($icon);

    display: block;
    content: "";
    width: 37.5px;
    height: 50px;
    top: calc(50% - $top);
    position: absolute;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--background-base-low);
    background-size: 50%;
    background-repeat: no-repeat;
    border: 1px solid var(--border-subtle);
    cursor: pointer;
    z-index: 1000;

    $border-radius: 25px;
    @if $side == "left" {
      border-radius: 0 $border-radius $border-radius 0;
      background-position: 25% center;
      transform: translateX(100%);
      right: 0;
    }
    @if $side == "right" {
      border-radius: $border-radius 0 0 $border-radius;
      background-position: 75% center;
      transform: translateX(-100%);
      left: 0;
    }
  }

  &:hover:before {
    background-color: var(--brand-500);
    z-index: 1001;
  }
}

@mixin hover($side) {
  &:after {
    display: block !important;
    content: "";
    width: 10px;
    height: 100% !important;
    top: 0;
    position: absolute;

    @if $side == "left" {
      right: 0 !important;
      transform: translateX(100%);

      // TODO: Will need to be fixed in the future
      // Need to unset these properties because ::after is already in use
      // A rectangle is drawn on the bottom side of the sidebar to hide the border
      // between the guilds and channels list
      background: unset !important;
      bottom: unset !important;
      left: unset !important;
    }
    @if $side == "right" {
      left: 0;
      transform: translateX(-100%);
    }
  }
}
